# Question 1

Q1. What is a database? Differentiate between SQL and NoSQL databases.

Database :                                                                                                                                A database is a structured collection of data that is organized and stored for efficient retrieval, manipulation, and management. It allows users or applications to store, retrieve, update, and delete data in a systematic and organized manner.

SQL Databases:

1. Data Model: SQL databases use a structured data model, often referred to as a relational model. Data is organized into tables with predefined schemas, where tables have rows (records) and columns (attributes).

2. Query Language: SQL databases use SQL as their standard query language. SQL provides a rich set of commands and functions for performing operations like selecting, filtering, joining, and aggregating data.

3. Schema: SQL databases typically enforce a schema that defines the structure and relationships between tables. Schemas ensure data integrity and consistency by defining constraints such as data types, primary keys, foreign keys, and relationships.

4. Scalability: SQL databases are generally well-suited for handling structured data and complex relationships. They excel in scenarios that require complex queries, transactions, and data integrity guarantees.

  Examples: MySQL, PostgreSQL, Oracle Database, Microsoft SQL Server

NoSQL Databases:

1. Data Model: NoSQL databases use various data models, including key-value, document, columnar, and graph models. These models offer flexibility in handling unstructured, semi-structured, and diverse data formats.

2. Query Language: NoSQL databases may have their own query languages, but they often lack a standardized query language like SQL. Some NoSQL databases provide APIs (Application Programming Interfaces) for data access and manipulation.

3. Schema: NoSQL databases are schema-less or have flexible schemas, allowing for dynamic changes to the data structure without rigid constraints. This flexibility is suitable for scenarios where the data schema evolves over time.

4. Scalability: NoSQL databases are designed to scale horizontally, meaning they can handle large volumes of data across multiple servers or nodes. They excel in scenarios with high write and read loads, massive scalability, and distributed systems.

  Examples: MongoDB, Cassandra, Redis, Couchbase.

# Question 2

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL stands for Data Definition Language. It is a subset of SQL (Structured Query Language) that is used to define and manage the structure of a database and its objects. DDL statements are used to create, modify, and delete database objects such as tables, indexes, views, and schemas.

1. CREATE: The CREATE statement is used to create a new database object, such as a table, view, or index. It specifies the name of the object, its columns (for tables), and other relevant properties.                           
example:-                                 

CREATE TABLE Employees (                             
  EmployeeID INT,                             
  FirstName VARCHAR(50),                            
  LastName VARCHAR(50),                                           
  HireDate DATE                                     
);

2. DROP: The DROP statement is used to delete a database object, such as a table or view. It permanently removes the object and its data from the database.

Example:  DROP TABLE Employees;

3. ALTER: The ALTER statement is used to modify the structure or properties of an existing database object. It allows you to add, modify, or delete columns, constraints, indexes, or other object properties.

Example:                                                                                      
         ALTER TABLE EmployeesADD COLUMN Email VARCHAR(100);

4. TRUNCATE: The TRUNCATE statement is used to delete all data from a table while keeping its structure intact. It is faster than using DELETE statement, as it removes all rows without logging individual deletions.

Example: TRUNCATE TABLE Employees;

# Question 3

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stands for Data Manipulation Language. It is a subset of SQL (Structured Query Language) that is used to manipulate or interact with data stored in a database. DML statements are used to insert, update, and delete data within database tables.

1. INSERT: The INSERT statement is used to insert new rows of data into a table. It specifies the table name and the values to be inserted into the corresponding columns.

Example:                                             
             INSERT INTO Employees (EmployeeID, FirstName, LastName, HireDate)
                        VALUES (1, 'John', 'Doe', '2022-01-01');

2.UPDATE: The UPDATE statement is used to modify existing data within a table. It allows you to update specific columns and rows based on specified conditions.

Example:            
         UPDATE Employees
SET LastName = 'Smith'
WHERE EmployeeID = 1;

DELETE: The DELETE statement is used to delete existing rows from a table. It allows you to remove specific rows based on specified conditions.

Example:                  
         DELETE FROM Employees WHERE EmployeeID = 1;

# Question 4

Q4. What is DQL? Explain SELECT with an example.

DQL stands for Data Query Language. It is a subset of SQL (Structured Query Language) that is used to retrieve and query data from a database. DQL statements, particularly the SELECT statement, are used to retrieve specific data from one or more tables in a database.

SELECT: The SELECT statement is used to query and retrieve data from one or more tables in a database. It allows you to specify the columns to retrieve, the table(s) to query, and optional conditions to filter the results.

Examole:                      

SELECT FirstName, LastName, HireDate
FROM Employees
WHERE HireDate >= '2022-01-01';

# Question 5

Q5. Explain Primary Key and Foreign Key.

Primary Key:                                               
           A primary key is a column or a combination of columns in a database table that uniquely identifies each row. It enforces entity integrity by ensuring that each row in a table is uniquely identifiable. The primary key must have the following characteristics:

Uniqueness:                            
            Each value in the primary key column(s) must be unique, meaning no two rows can have the same value in the primary key.
Non-nullability:                             
         The primary key column(s) cannot contain null values. Each row must have a valid and non-null value for the primary key.
Immutability:          
             The primary key value(s) should not change once a row is inserted into the table.
Single-valued:                      
            A primary key should consist of a single column or a combination of columns that uniquely identifies a row.


Foreign Key:                          
           A foreign key is a column or a combination of columns in a database table that refers to the primary key of another table. It establishes a link or relationship between two tables. The foreign key column(s) in one table reference the primary key column(s) of another table.

The foreign key relationship provides the following benefits:

Referential Integrity:
                     It ensures that the values in the foreign key column(s) of a table correspond to valid values in the referenced primary key column(s) of another table. It prevents data inconsistencies and maintains the integrity of the data.

Relationship Establishment: 
                It establishes logical relationships between tables, allowing tables to be connected based on shared information.

Data Consistency:
                 Foreign keys help enforce data consistency and prevent actions that could result in orphaned records. For example, if a row is deleted or updated in the referenced table, the foreign key relationship can be configured to automatically update or restrict the corresponding actions in the referring table.

Joins and Querying: 
                   Foreign keys enable joining tables based on the relationship, allowing complex queries that retrieve data from multiple related tables.

# Question 6

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

import mysql.connector

mydb = mysql.connector.connect(

    host = "localhost",
    user = "abc",
    password = "password"
) 
                                
#creation of cursor object                                           
mycursor = mydb.cursor()                                    

#databse creation                                             
mycursor.execute("CREATE DATABASE if not exists sample")                              

#creation of table in the database                                        
mycursor.execute("CREATE TABLE if not exists sample.emp(emp_name varchar(50), emp_id int, salary float, postion varchar(50))")

#Insert the values in the table                            
mycursor.execute("INSERT INTO  sample.emp(emp_name,emp_id,salary,postion)values('ajay',101,5000.00,'manager') ")

#retrive the vallue from the database                                   
mycursor.execute("select * from sample.emp")                         
for i in mycursor:                                                                                                                                                                                                                                                  print(i)

The cursor() method creates a cursor object that allows you to execute SQL statements and manage the result set. It provides methods such as execute(), fetchall(), fetchone(), etc., to interact with the database.

The execute() method is used to execute SQL queries. It takes the SQL query as a parameter and executes it on the database. You can pass SQL statements like SELECT, INSERT, UPDATE, DELETE, etc., to this method. It returns the result (if any) of the executed query.

# Question 7

The order of execution of SQL clauses in an SQL query is as follows:

1. FROM: The FROM clause specifies the table or tables from which the data will be retrieved. It identifies the source tables for the query.

2. WHERE: The WHERE clause filters the rows from the tables based on specified conditions. It allows you to specify criteria to select specific rows that meet the given conditions.

3. GROUP BY: The GROUP BY clause is used to group the rows based on one or more columns. It is typically used with aggregate functions like SUM, COUNT, AVG, etc., to perform calculations on groups of rows.

4. HAVING: The HAVING clause is used to filter the groups created by the GROUP BY clause based on specified conditions. It acts as a filter for the grouped data.

5. SELECT: The SELECT clause specifies the columns that will be included in the result set. It selects the desired columns or expressions to be retrieved from the table(s).

6. DISTINCT: The DISTINCT clause eliminates duplicate rows from the result set. It ensures that only unique rows are returned.

7. ORDER BY: The ORDER BY clause is used to sort the result set based on specified columns. It allows you to sort the rows in ascending or descending order.

8. LIMIT/OFFSET: The LIMIT/OFFSET clause is used to limit the number of rows returned by the query or to specify the starting point for retrieving rows. It is commonly used for pagination or to restrict the number of results.