In [2]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

In [4]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

# Q1. Write a code to print the data present in the second row of the dataframe, df.

In [7]:
print(df.iloc[1])

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

# Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

<!-- 1. iloc (Integer Location)
Indexing Method: Uses integer-based indexing.
Syntax: df.iloc[row_index, column_index]
Access: Allows you to select rows and columns by their integer positions (0-based index). -->

In [8]:

df.iloc[1, 0]  # Accesses the element at the second row and first column
df.iloc[:, 1]  # Accesses all rows in the second column
df.iloc[1:3]   # Accesses rows from index 1 to 2 (exclusive of 3)

        course_name  duration
1  Machine Learning         3
2          Big Data         6

2. loc (Label Location)
Indexing Method: Uses label-based indexing.
Syntax: df.loc[row_label, column_label]
Access: Allows you to select rows and columns by their labels (row or column names).

In [9]:
df.loc[0, 'course_name']  # Accesses the element in the row with label 0 and column 'course_name'
df.loc[:, 'duration']     # Accesses all rows in the 'duration' column
df.loc[0:2]               # Accesses rows with labels from 0 to 2 (inclusive)

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

Key Differences:
iloc is primarily for position-based indexing and is useful when you know the exact positions of rows and columns you want to access.
loc is for label-based indexing and is useful when you want to access data based on row/column labels. It is more intuitive when working with labeled data.

# Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_dfthen find the output for both new_df.loc[2] and new_df.iloc[2].

In [10]:
import pandas as pd

# Original DataFrame
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2, 3, 6, 4]
df = pd.DataFrame(data={'course_name': course_name, 'duration': duration})

# Reindexing
reindex = [3, 0, 1, 2]
new_df = df.reindex(reindex)

# Outputs
print("new_df.loc[2]:")
print(new_df.loc[2])  # Access by label
print("\nnew_df.iloc[2]:")
print(new_df.iloc[2])  # Access by position

new_df.loc[2]:
course_name    Big Data
duration              6
Name: 2, dtype: object

new_df.iloc[2]:
course_name    Machine Learning
duration                      3
Name: 1, dtype: object

# Q4. Write a code to find the following statistical measurements for the above dataframe df1:(i) mean of each and every column present in the dataframe.(ii) standard deviation of column, ‘column_2’

In [11]:
import pandas as pd

# Sample DataFrame df1
data = {
    'column_1': [10, 20, 30, 40, 50],
    'column_2': [5, 15, 25, 35, 45],
    'column_3': [2, 4, 6, 8, 10]
}
df1 = pd.DataFrame(data)

# (i) Mean of each and every column present in the dataframe
mean_values = df1.mean()

# (ii) Standard deviation of column 'column_2'
std_column_2 = df1['column_2'].std()

# Print the results
print("Mean of each column:\n", mean_values)
print("\nStandard Deviation of 'column_2':", std_column_2)

Mean of each column:
 column_1    30.0
column_2    25.0
column_3     6.0
dtype: float64

Standard Deviation of 'column_2': 15.811388300841896

# Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find themean of column, column_2.If you are getting errors in executing it then explain why.[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [12]:
import pandas as pd

# Sample DataFrame df1
data = {
    'column_1': [10, 20, 30, 40, 50],
    'column_2': [5, 15, 25, 35, 45],
    'column_3': [2, 4, 6, 8, 10]
}
df1 = pd.DataFrame(data)

# Replacing the data in the second row of 'column_2' with a string
df1.loc[1, 'column_2'] = 'string_value'

# Attempting to calculate the mean of 'column_2'
try:
    mean_column_2 = df1['column_2'].mean()
    print("Mean of 'column_2':", mean_column_2)
except TypeError as e:
    print("Error:", e)

Error: unsupported operand type(s) for +: 'int' and 'str'

# Q6. What do you understand about the windows function in pandas and list the types of windowsfunctions?

n pandas, a window function is used to perform calculations across a sliding window of data, typically on a time series or other sequential data. The window function allows for the calculation of statistics (like mean, sum, or standard deviation) over a specific range of rows, known as the "window," which moves (or "slides") across the data.

Key Concepts:
Window Size: The number of observations in the window that is used for calculations.
Sliding Window: The window slides across the data, row by row, to calculate the function over different subsets of the data.
Centering: You can choose whether to align the window with the center of the current data point or to have it trailing or leading.
Types of Window Functions:
Rolling Window Functions (.rolling())

Description: Calculates the desired statistic over a rolling window of a fixed size.
Example Operations: mean(), sum(), std(), min(), max().

In [ ]:
df['rolling_mean'] = df['column'].rolling(window=3).mean()

# Q7. Write a code to print only the current month and year at the time of answering this question.[Hint: Use pandas.datetime function]df['rolling_mean'] = df['column'].rolling(window=3).mean()

In [14]:
import pandas as pd

# Get the current date and time
current_date = pd.Timestamp.now()

# Extract the current month and year
current_month = current_date.month
current_year = current_date.year

# Print the current month and year
print(f"Current Month: {current_month}, Current Year: {current_year}")

Current Month: 8, Current Year: 2024

# Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) andcalculates the difference between them in days, hours, and minutes using Pandas time delta. Theprogram should prompt the user to enter the dates and display the result.

In [15]:
import pandas as pd

# Function to calculate the difference between two dates
def calculate_date_difference(date1, date2):
    # Convert the input strings to pandas Timestamp
    date1 = pd.Timestamp(date1)
    date2 = pd.Timestamp(date2)
    
    # Calculate the difference
    difference = date2 - date1
    
    # Extract days, hours, and minutes from the difference
    days = difference.days
    hours, remainder = divmod(difference.seconds, 3600)
    minutes = remainder // 60
    
    return days, hours, minutes

# Prompt the user to enter the dates
date1_input = input("Enter the first date (YYYY-MM-DD): ")
date2_input = input("Enter the second date (YYYY-MM-DD): ")

# Calculate the difference
days, hours, minutes = calculate_date_difference(date1_input, date2_input)

# Display the result
print(f"Difference between {date1_input} and {date2_input}:")
print(f"{days} days, {hours} hours, and {minutes} minutes")

Enter the first date (YYYY-MM-DD):  2022-12-31
Enter the second date (YYYY-MM-DD):  2023-12-31

Difference between 2022-12-31 and 2023-12-31:
365 days, 0 hours, and 0 minutes